<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/Shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/Shop.js"></script>
    <title>Setlina-Shop</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left">
                    <div class="header-message">Welcome to our online store!</div>
                </div>
                <div class="top-bar-right" id="control-top">
                    <a href="/Login" id="control-link">Login or Register</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-header">
                <div class="row-header">
                    <div class="header-logo">
                        <a href="/home"> <img src="/images/logo.png" alt="img" /> </a>
                    </div>
                    <div class="header-search">
                        <form action="/shopping/search" class="form-search" method="post">
                            <div class="form-content">
                                <div class="search-inner">
                                    <input type="text" class="search-input" placeholder="Search here" name="itemName" />
                                </div>
                                <div class="search-category">
                                    <select name="catelogy" id="" class="category-select">
                                        <option value="">Accessories</option>
                                        <option value="id">Id</option>
                                        <option value="name">Name</option>
                                    </select>
                                </div>
                                <div class="search-btn">
                                    <button class="btn-search" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="header-control">
                        <div class="header-control-cart">
                            <a href="/shoppingcart" class="control-link"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                        <div class="header-control-user">
                            <a href="/user" class="control-link" id="link-page-user"><i class="fa-regular fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="container">
                <div class="header-nav-wapper">
                    <div class="nav-wapper-category"></div>
                    <div class="nav-wapper-main">
                        <ul>
                            <li class="nav-link"><a href="/home">HOME</a></li>
                            <li class="nav-link"><a href="/Shopping">SHOP</a></li>
                            <li class="nav-link"><a href="/Contract">CONTRACT</a></li>
                            <li class="nav-link"><a href="/about">ABOUT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="toast"></div>
    <div class="Modal" id="Modal-appear">   
    </div>
    </div>
    <div class="Main">
        <div class="Container">
            <div class="row">
               <div class="Header-breadcrums">
                   <div class="Breadcrums-trail">
                        <ul class="trail-item">
                            <li class="item-begin">Home</li>
                            <li class="item-end">>> Product</li>
                        </ul>
                   </div>
               </div>
            </div>
            <div class="row">
                <div class="Content">
                    <div class="site-man">
                        <h3 class="Title-Product">Detail Product</h3>
                        <!-- <div class="shop-control">
                            <div class="Sort-by-sex">
                                <span class="title-sort">Sort by sex : </span>
                                <select name="" id="">
                                    <option value="">Man</option>
                                    <option value="">Woman</option>
                                </select>
                            </div>
                            <div class="Sort-by-priece">
                                <span class="title-sort">Sort by priece : </span>
                                <select>
                                    <option value="">Priece : low to high</option>
                                    <option value="">Priece : high to low</option>
                                </select>
                            </div>
                        </div> -->
                        <ul class="Products">
                            <% for(var i=0; i < SP.length; i++) { %>
                            <li>
                                <div class="Product-middle">
                                    <img src="/images/<%= SP[i].HinhSP %>" alt="img">
                                    <div class="Buy-Now">
                                        <span><i class="fa-solid fa-magnifying-glass" onclick="Open('<%= SP[i].MaSP %>')"></i></span> 
                                        <span><i class="fa-solid fa-cart-shopping" onclick="addToCart('<%= SP[i].MaSP %>')"></i></span>
                                    </div>
                                </div>
                                <div class="Product-info">
                                    <a href="" class="Product-Name"><%= SP[i].TenSP %></a>
                                    <a href="" class="Product-rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </a>
                                    <a href="" class="Product-Priece">$<%= SP[i].GiaSP %></a>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                        <div class="Pagation">
                            <% if(pagehientai != 0) { %> <% if (pagehientai == 1){%>
                                <li class="page-item pre"><a class="page-link" href="">Previous</a></li>
                                <%} else{%>
                                <li class="page-item pre"><a class="page-link" href="/shopping?page=<%=pagehientai-1 %>">Previous</a></li>
                                <%}%> <% for (var i=1; i < soPage+1; i++) { %>
                                <li class="page-item"><a class="page-link" href="/shopping?page=<%= i %>"><%= i %></a></li>
                                <% } %> <% if (pagehientai == soPage){%>
                                <li class="page-item next"><a class="page-link" href="">Next</a></li>
                                <%} else{%>
                                <li class="page-item next"><a class="page-link" href="/shopping?page=<%=pagehientai+1 %>">Next</a></li>
                                <%}%>
                                <li class="page-message"><%= pagehientai%> / <%=soPage%></li>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-main">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-top">
                        <div class="footer-top-block footer-quickmenu">
                            <h2 class="footer-title">Quick Menu</h2>
                            <ul class="footer-menu">
                                <li class="footer-menu-item">
                                    <a href="#">New arrivals</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Life style</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Accents</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Tables</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Dining</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top-block footer-newletter">
                            <h3 class="footer-title">NewsLetter</h3>
                            <div class="newsletter-desc">Sign up for our free video course and urban garden inspiration</div>
                            <form class="footer-email-block">
                                <input type="text" class="footer-input-email" placeholder="Your email letter" />
                                <button class="footer-btn-email">Subscribe</button>
                            </form>
                        </div>
                        <div class="footer-top-block footer-information">
                            <h2 class="footer-title">Information</h2>
                            <ul class="footer-menu">
                                <li class="footer-menu-item">
                                    <a href="#">FAQs</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Track Order</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Delivery</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Contact Us</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Return</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-end">
                        <div class="footer-social"></div>
                        <div class="footer-copyright"></div>
                    </div>
                </div>
            </div>
    </footer>
</body>

</html>